<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zx.tjmarketmobile">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 读取电话状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!--硬件支持-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.zx.tjmarketmobile.util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".services.PhoneService">
            <intent-filter>
                <action android:name="com.zx.tjmarketmobile.service.PhoneService" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zx.tjmarketmobile.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="54122ae31dfaf5f356cd8474715418f1" />

        <activity android:name="com.zx.tjmarketmobile.ui.mainbase.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zx.tjmarketmobile.ui.base.BaseActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.mainbase.LoginActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.system.SettingsIPActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.system.HelpActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.mainbase.GuideActivity" />
        <activity
            android:name="com.zx.tjmarketmobile.ui.mainbase.HomeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.zx.tjmarketmobile.ui.system.SettingsActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.system.SettingsMapActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.system.SettingTimeActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.system.VersionActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.system.AboutActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.system.NotifyActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.mainbase.MessageCenterActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.map.WorkInMapShowActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.map.SearchZtListShowActivity" />
        <activity
            android:name="com.zx.tjmarketmobile.ui.map.EntityDetailActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.zx.tjmarketmobile.ui.supervise.SuperviseDetailActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.supervise.SuperviseDisposeActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.map.EventEntityActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.supervise.SuperviseSearchActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.supervise.EntityListActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.supervise.SuperviseListActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.supervise.SuperviseOperateActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.statistics.StatisticsActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.mainbase.PermissionsActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.system.SettingsPassWordActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.mainbase.PhotoPickerActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.mainbase.SpaceImageDetailActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.caselegal.CaseDetailActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.caselegal.CaseExcuteActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.caselegal.CaseDelayActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.caselegal.CaseMonitorActivity" />
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity" />
        <activity android:name="me.iwf.photopicker.PhotoPagerActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.complain.ComplainMonitorActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.complain.ComplainDetailActivity" />
        <activity android:name="com.zx.tjmarketmobile.ui.complain.ComplainExcuteActivity" />
        <activity
            android:name="com.zx.tjmarketmobile.ui.supervise.mytask.SuperviseMyTaskDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.zx.tjmarketmobile.ui.supervise.mytask.SuperviseMyTaskCheckActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.zx.tjmarketmobile.ui.supervise.mytask.SuperviseMyTaskExcuteActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.zx.tjmarketmobile.ui.supervise.statemonitor.TaskStateMonitorActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.zx.tjmarketmobile.ui.statistics.ChartActivity"></activity>
        <activity android:name="com.zx.tjmarketmobile.ui.statistics.ChartListActivity"></activity>
        <activity android:name="com.zx.tjmarketmobile.ui.statistics.ChartDetailActivity"></activity>
        <activity android:name="com.zx.tjmarketmobile.ui.infomanager.DeviceListDetailActivity"></activity>
        <activity android:name="com.zx.tjmarketmobile.ui.infomanager.LisenceDetailActivity"></activity>
        <activity android:name="com.zx.tjmarketmobile.ui.infomanager.MeasureDetailActivity"></activity>
        <activity
            android:name="com.zx.tjmarketmobile.ui.infomanager.InfoHomeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity android:name="com.zx.tjmarketmobile.ui.infomanager.InfoManagerActivity"></activity>
        <activity android:name="com.zx.tjmarketmobile.ui.camera.CameraActivity" />

        <receiver android:name="com.zx.tjmarketmobile.broadcast.TJMarketReceiver">
            <intent-filter>
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <action android:name="com.zx.tjmarketmobile.broadcast.phonestate.start" />
            </intent-filter>
        </receiver>
    </application>

</manifest>